/* Remove default bullets */
#sidebar , .submenu {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#sidebar {
  margin: 0;
  padding: 5px;
  padding-left: 7px;
}

#sidebar a, #sidebar li{
  color: #213547;
  font-size: 16px;
  line-height: 1.5em;
}

#sidebar a:hover{
  text-decoration: underline;
}


/* Style the nav-toggle/arrow */
.nav-toggle {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  font-weight: bold;
}


/* Create the nav-toggle/arrow with a unicode, and style it */
.nav-toggle::after {
  content: "\25B6";
  color: #b6b1b1;
  display: inline-block;
  margin-right: 6px;
  float: inline-end;
  font-size: 15px;
}

/* Rotate the nav-toggle/arrow icon when clicked on (using JavaScript) */
.caret-down::after {
  transform: rotate(90deg);
}

/* Hide the submenu list */
.submenu {
  display: none;
  padding-inline-start: 17px;
}


/* Show the submenu list when the user clicks on the nav-toggle/arrow (with JavaScript) */
.submenu.active {
  display: block;
}