/* Core color palette */
$color-core-black: #000;
$color-core-white: #fff;
$color-core-blue: #2d74da;
$color-core-gray: #58595b;
$color-core-lightgray: #f3f3f3;

/* Extended color palette */
$color-extended-yellow-1: #ffe14f;
$color-extended-yellow-2: #ffcf01;
$color-extended-yellow-3: #fdb813;
$color-extended-yellow-4: #c5932d;

$color-extended-orange-1: #f19027;
$color-extended-orange-2: #dd731c;
$color-extended-orange-3: #b8471b;
$color-extended-orange-4: #813117;

$color-extended-red-1: #f04e37;
$color-extended-red-2: #d9182d;
$color-extended-red-3: #a91024;
$color-extended-red-4: #7e2322;

$color-extended-pink-1: #f389af;
$color-extended-pink-2: #ee3d96;
$color-extended-pink-3: #ba006e;
$color-extended-pink-4: #8c0052;

$color-extended-purple-1: #ab1a86;
$color-extended-purple-2: #7f1c7d;
$color-extended-purple-3: #3b0256;
$color-extended-purple-4: #28003e;

$color-extended-blue-1: #82d1f5;
$color-extended-blue-2: #00b0da;
$color-extended-blue-3: #00b2ef;
$color-extended-blue-4: #008abf;
$color-extended-blue-5: #00649d;
$color-extended-blue-6: #003f69;
$color-extended-blue-7: #004266;
$color-extended-blue-8: #001934;

$color-extended-teal-1: #00a6a0;
$color-extended-teal-2: #007670;
$color-extended-teal-3: #006058;
$color-extended-teal-4: #00443d;

$color-extended-green-1: #8cc63f;
$color-extended-green-2: #17af4b;
$color-extended-green-3: #008a52;
$color-extended-green-4: #00512b;

$color-extended-olive-1: #a5a215;
$color-extended-olive-2: #838329;
$color-extended-olive-3: #594f13;
$color-extended-olive-4: #3c3900;


$color-btn-text: #24292f;
$color-btn-bg: #f6f8fa;
$color-btn-border: rgba(27,31,36,0.15);
$color-btn-shadow: 0 1px 0 rgba(27,31,36,0.04);
$color-btn-inset-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
$color-btn-hover-bg: #f3f4f6;
$color-btn-hover-border: rgba(27,31,36,0.15);
$color-btn-active-bg: hsla(220,14%,93%,1);
$color-btn-active-border: rgba(27,31,36,0.15);
$color-btn-selected-bg: hsla(220,14%,94%,1);
$color-btn-focus-bg: #f6f8fa;
$color-btn-focus-border: rgba(27,31,36,0.15);
$color-btn-focus-shadow: 0 0 0 3px rgba(9,105,218,0.3);
$color-btn-shadow-active: inset 0 0.15em 0.3em rgba(27,31,36,0.15);
$color-btn-shadow-input-focus: 0 0 0 0.2em rgba(9,105,218,0.3);
$color-btn-counter-bg: rgba(27,31,36,0.08);
$color-btn-primary-text: #ffffff;
$color-btn-primary-bg: #2da44e;
$color-btn-primary-border: rgba(27,31,36,0.15);
$color-btn-primary-shadow: 0 1px 0 rgba(27,31,36,0.1);
$color-btn-primary-inset-shadow: inset 0 1px 0 rgba(255,255,255,0.03);
$color-btn-primary-hover-bg: #2c974b;
$color-btn-primary-hover-border: rgba(27,31,36,0.15);
$color-btn-primary-selected-bg: hsla(137,55%,36%,1);
$color-btn-primary-selected-shadow: inset 0 1px 0 rgba(0,45,17,0.2);
$color-btn-primary-disabled-text: rgba(255,255,255,0.8);
$color-btn-primary-disabled-bg: #94d3a2;
$color-btn-primary-disabled-border: rgba(27,31,36,0.15);
$color-btn-primary-focus-bg: #2da44e;
$color-btn-primary-focus-border: rgba(27,31,36,0.15);
$color-btn-primary-focus-shadow: 0 0 0 3px rgba(45,164,78,0.4);
$color-btn-primary-icon: rgba(255,255,255,0.8);
$color-btn-primary-counter-bg: rgba(255,255,255,0.2);
$color-btn-outline-text: #0969da;
$color-btn-outline-hover-text: #ffffff;
$color-btn-outline-hover-bg: #0969da;
$color-btn-outline-hover-border: rgba(27,31,36,0.15);
$color-btn-outline-hover-shadow: 0 1px 0 rgba(27,31,36,0.1);
$color-btn-outline-hover-inset-shadow: inset 0 1px 0 rgba(255,255,255,0.03);
$color-btn-outline-hover-counter-bg: rgba(255,255,255,0.2);
$color-btn-outline-selected-text: #ffffff;
$color-btn-outline-selected-bg: hsla(212,92%,42%,1);
$color-btn-outline-selected-border: rgba(27,31,36,0.15);
$color-btn-outline-selected-shadow: inset 0 1px 0 rgba(0,33,85,0.2);
$color-btn-outline-disabled-text: rgba(9,105,218,0.5);
$color-btn-outline-disabled-bg: #f6f8fa;
$color-btn-outline-disabled-counter-bg: rgba(9,105,218,0.05);
$color-btn-outline-focus-border: rgba(27,31,36,0.15);
$color-btn-outline-focus-shadow: 0 0 0 3px rgba(5,80,174,0.4);
$color-btn-outline-counter-bg: rgba(9,105,218,0.1);